.upload__container {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
}

.upload__progress {
  width: 100%;
}

.upload__caption {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 5vh;
}