.upload__container {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 2px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.upload__container:hover {
  border: 1px solid rgb(153, 153, 153);
  box-shadow: 1px 2px 9px #a17981;
}

.upload__progress {
  /* margin-right: 50px; */
  display: flex; 
  justify-content:space-around;  
  align-items: center;
  
}

.upload__caption {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
	height: 32px;
	font-size: 1em;
  margin-left:10px;
  margin-right: 10px;
	border-radius: 20px;
  border: 1px solid rgb(153, 153, 153);
}

.filePicker {
  margin-left: 10px;
  margin-right: 10px;
}