* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  display: flex;
  background-color: white;
  object-fit: contain;
  padding: 5px;
  border-bottom: 1px solid lightgray;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__signin {
  display: flex;
  flex-direction: column;
}

.app__loginContainer {
  display: flex;
}
